In [1]:
import config
import telebot
import sys
import os
import time
import SQLighter
#from SQLighter import SQLighter
import random
import pandas as pd
import sqlite3

import utils
import shelve
import numpy as np

from config import shelve_name, shelve_name_field

In [2]:
db_worker = SQLighter.SQLighter(config.database_name)

In [3]:
db_worker.count_rows()

52

In [12]:
db_worker.pandas_test('''
select playlist, count(playlist) 
from all_music_list aml 
WHERE playlist is not ''
group by playlist 
order by count(playlist) desc''')

    playlist  count(playlist)
0   new_year               30
1    serezha                6
2  dancehall                4
3       rock                1